<h1>Random Restaurant Finder</h1>



<form action:"/search", method = "POST">

	<input type="text" name = "cityname" placeholder="city">
	<button>GIVE ME A RESTAURANT</button>


</form>







<p1> This is the home page </p1>

