
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style type="text/css">
          a{
            font-family : "Papyrus" ;
            font-size: 20px ;
          }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Random Restaurant Finder</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/saved">Saved Restaurants</a></li>
                  <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                     <% } else { %>
                       <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
    </nav>



<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body, html
 {
    height: 100%;
    margin: 0;
    background-image: url("http://thedietfactory.net/wp-content/uploads/2013/02/gourmetfood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
        font-family: "Copperplate" ; 
        font-size: 85px ; 
    }

.bg {
    /* The image used */
    background-image: url("http://thedietfactory.net/wp-content/uploads/2013/02/gourmetfood.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


</style>
</head>
<body>

<!--div class="bg"></div-->

<section class="container">
    <div class="login">
      <center><h1 style="color:white">Create an Account</h1></center>
      <br>
      <br>      
    <center>
        <form  action="/register" method= "POST">

        <input type="text" name="username" placeholder="username">
        <br>
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <br>
        <button style="background-color:Snow ; font-size: 20px ; font-family: Papyrus">Sign up</button>

      </form>
  </center>

    </div>
  </section>

</body>
</html>


