<head>
<title>Saved Restaurants</title>
<h1>Saved Restaurants</h1>

<body>

<%restaurants.forEach(function(rest){ %>
	
	<p> Name : <%= rest[0]%></p>

-----------------------------------

<%})%>



	






</body>
