<head>
<title>Saved Restaurants</title>
<h1>Saved Restaurants</h1>

<body>

<%listOfRestaurants.forEach(function(rest){ %>
	
	<p> Name : <%= rest["nameOfRestaurant"]%></p>

-----------------------------------

<%})%>



	






</body>
